body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  background: #ffffff;
}
body.modal-open {
  overflow: hidden;
}

.title {
  margin-bottom: 30px;
  
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.1666;
  }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
}
.display-flex {
  display: flex;
}
.display {
  display: none;
}