:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-hover-color: #2196f3;
    --main-title-color: #ffffff;
    --main-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --border-color: #eeeeee;
    --main-icons-color: #afb1b8;
  }