  .features {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }

    &__title {
      margin-bottom: 10px;
    
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1428;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
      }
    }
    &__item {
      max-width: 450px;
      @media screen and (min-width: 768px) {
        width: 354px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
      @media screen and (max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
    &__text {
      line-height: 1.7142;
      color: var(--primary-text-color);
    }
    &__icon {
      display: flex;
      margin-bottom: 30px;
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
    }
  }